<% form_for @note do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :publication_id %><br />
    <%= f.collection_select :publication_id, Publication.all, :id, :title, options = { :prompt => "Select one..." } %>
  </p>
  <%= set_focus_to_id 'note_publication_id' %>  
  <p>
    <%= f.label :user_id %><br />
    <%= f.collection_select :user_id, User.all, :id, :full_name, options = { :prompt => "Select one..." } %>
  </p>
  <p>
    <%= f.label :state %><br />
<% states = ['preplanned','planned','inprogress','submitted','accepted','published'] %>
<%= f.select :state, states  %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content, :cols => 100, :rows => 10 %>
  </p>

  <p><%= f.submit %></p>
<% end %>
