<% form_for @publication do |f| %>
  <%= f.error_messages %>
<p>
  <%= f.label :title %><br />
  <%= f.text_field :title, :size => 80 %>
  <%= set_focus_to_id 'publication_title' %>
</p>


<table>
  <tr>
    <td>
    <div class="line_of_boxes">
      <div class="box_in_line">
        Keyword(s):
        <div id="keyword_children" class="box_in_line_content">
          <% f.fields_for :keywords do |keyword_form| %>
            <%= render :partial => 'keyword', :locals => { :f => keyword_form } %>
          <% end %>
        </div>
        <%= add_child_link "Add a keyword", 'keyword', f  %>  
      </div>
      <div class="box_bottom"></div>
    </div>
    </td>
    <td>
      <%= f.label :publication_type %><br />
      <%= f.collection_select :publication_type_id, PublicationType.all, :id, :name, options = { :prompt => "Select one..." } %>
    </td>
    <td>
      <%= f.label :language %><br />
      <%= f.collection_select :language_id, Language.all, :id, :name, options = { :prompt => "Select one..." } %>
    </td>
  </tr>
</table>
<p>
  <%= f.label :description %><br />
  <%= f.text_area :description, :cols => 80, :rows => 10 %>
</p>

<h3>Author(s)</h3>
<p>
  <div id="author_children">
    <ul id="authors">
      <% f.fields_for :authors do |author_form| %>
        <%= render :partial => 'author', :locals => { :f => author_form } %>
      <% end %>
    </ul>
    <%= sortable_element("authors", :url => sort_authors_path, :handle => "handle") %>
  </div>
  <%= add_child_link "Add an author", 'author', f  %>

</p>
<h3>Contacts</h3>
<div class="line_of_boxes">
  <div class="box_in_line">
    <div class="box_in_line_content">
      <%= f.label "HBSC Responsible Author" %><br />
      <% if !@publication.id %>
        <%= f.collection_select :user_id, User.all, :id, :full_name, options = { :selected => current_user.id } %>
      <% else %>
        <%= f.collection_select :user_id, User.all, :id, :full_name %>
      <% end %>
    </div>
  </div>
  <div class="box_in_line">
    <div class="box_in_line_content">
      <%= f.label "Responsible PI" %><br />
      <%= f.collection_select :responsible_id, User.all, :id, :full_name, options = { :prompt => "Select one..." } %>
    </div>
  </div>
  <div class="box_in_line">
    <div class="box_in_line_content">
      <table>
        <tr>
          <td><%= f.label "Contact person name" %></td>
          <td><%= f.label "Contact person email" %></td>
        </tr>
        <tr>
          <td><%= f.text_field :contact_name, :size => 30 %></td>
          <td><%= f.text_field :contact_email, :size => 30 %></td>
        </tr>
      </table>
    </div>
  </div>
<div class="box_bottom"></div>
</div>
<h3>Data</h3>   
<div class="line_of_boxes">
  <div class="box_in_line">
    Survey data
    <div id="foundation_children" class="box_in_line_content">
      <% f.fields_for :foundations do |foundation_form| %>
        <%= render :partial => 'foundation', :locals => { :f => foundation_form } %>
      <% end %>
    </div>
    <%= add_child_link "Add a dataset", 'foundation', f  %>  
  </div>
  
  <div class="box_in_line">
    Populations(s):
    <div id="inclusion_children" class="box_in_line_content">
      <% f.fields_for :inclusions do |inclusion_form| %>
        <%= render :partial => 'inclusion', :locals => { :f => inclusion_form } %>
      <% end %>
    </div>      
    <%= add_child_link "Add a population", 'inclusion', f  %>  
  </div>
  <div class="box_bottom"></div>
</div>
 
<h3>Variables</h3>
 <div class="line_of_boxes">
  <div class="box_in_line">
    Outcome measure(s):
    <div id="outcome_children" class="box_in_line_content">
      <% f.fields_for :outcomes do |outcome_form| %>
        <%= render :partial => 'outcome', :locals => { :f => outcome_form } %>
      <% end %>
    </div>
    <%= add_child_link "Add an outcome measure", 'outcome', f  %>  
  </div>

  <div class="box_in_line">
    Determinant(s):
    <div id="determinant_children" class="box_in_line_content">
      <% f.fields_for :determinants do |determinant_form| %>
        <%= render :partial => 'determinant', :locals => { :f => determinant_form } %>
      <% end %>
    </div>
    <%= add_child_link "Add a determinant", 'determinant', f  %>
  </div>
  
  <div class="box_in_line">
    Confounder(s)/mediator(s):
    <div id="mediator_children" class="box_in_line_content">
      <% f.fields_for :mediators do |mediator_form| %>
        <%= render :partial => 'mediator', :locals => { :f => mediator_form } %>
      <% end %>
    </div>
    <%= add_child_link "Add a mediator", 'mediator', f  %>
  </div>
  
   <div class="box_bottom"></div>
</div>


<p>
  <%= f.label "Target Journal" %><br />
    <%=  text_field_with_auto_complete :target_journal, 
            :name, 
          { :size => 60 },
          { :method => :get, 
           :skip_style => true,
            :url => '/auto_complete_for_target_journal_name',
            :param_name => 'target_journal[name]' }
    %>
</p>
<p>
  <%= f.label "Publication URL" %><br />
  <%= f.text_field :url, :size => 80 %>
</p>
<p>
  <%= f.label "Article Promotion" %><br />
  Would you like the ICC to promote your final work? 
  <%= f.radio_button :promotion, true %><%= f.label "Yes" %>
  <%= f.radio_button :promotion, false %><%= f.label "No" %>
</p>

<p>
  <%= f.label "Reference/Citation" %><br />
  <%= f.text_area :reference, :cols => 60, :rows => 10 %>  
</p>

<% if @publication.id %>
  <p>
    <%= f.label "Notes" %><br />
       <div id="note_children">
        <% f.fields_for :notes do |note_form| %>
          <%= render :partial => "note", :locals => { :f => note_form } %>
        <% end %>
       </div>
    <%= add_child_link "Add a note", 'note', f  %>
  </p>
<% end %>

<p>
  <%= f.submit %>
</p>
<% end %>
