<div class="child">
  <%= f.text_field :note_state, :disabled => 'true' %><br />
  <%= f.text_area :content, :cols => 60, :rows => 4 %>
  <%= f.hidden_field :publication_state, :value => @publication.state %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :_destroy, :class => 'destroy' %>
  <%= remove_child_link 'remove', f %>
</div>
