<% title "Publication Audit Report" %>
<% require 'differ' %>
<br /> 
<h2><%=h @publication.title %> (ID: <%=h @publication.id %>)</h2>
<% if @publication.versions.length-1 > 1 %>
  <strong>
    Number of versions: <%=h @publication.versions.length-1 %>  
  </strong>
  <% versions_array = @publication.compare %>
    <% versions_array.each do |v| %>
    <h3>Changes version <%=h v["index"].to_s.gsub('{','').gsub('}','').gsub(
          '"','')  %> by <%=h v["whodunnit"] %></h3>

    <table class="pretty" width="90%">
      <tr>
        <th align="left" width="14%">Field</th>
        <th align="left" width="43%">Previous version</th>
        <th align="left" width="43%">Current version</th>
      </tr>

      <% v.each do |key,value| %>
        <% if value.to_s.include? ">" %>
          <% value_nice = value.to_s.gsub('{','').gsub('}','').gsub(
          '"','') %>
        <tr>
          <% if key == "index" %>
            <td valign="top">Version</td>
          <% elsif key == "title" %>
            <td valign="top">Working title</td>
          <% else %>
            <td valign="top"><%= key.to_s.humanize %></td>
          <% end %>
          <td valign="top"><%= value_nice.split('>>')[0].humanize %></td>
          <td valign="top"><%= value_nice.split('>>')[1].lstrip.humanize %></td>
        </tr>
        <% end %>
      <% end %>
    </table><br />
  <% end %>
<% else %>
<p>No versions available.</p>
<% end %>
<p id="pdf_link">
  <%= link_to "Show", @publication if permitted_to? :show, :publications %> | 
  <%= link_to "PDF version", audit_publication_path(@publication, :format => "pdf") %>
</p>
</div> 

