<% title "Advanced Publication Search" %>

<table>
<% form_for @search do |f| %>
<tr>
  <td width="20%">
    <%= f.label :id_equals, "ID" %></td><td width="30%">
    <%= f.text_field :id_equals, :size => 8 %>
  </td>
  <td rowspan="4" width="20%">
    <%= f.label :state %></td><td rowspan="4" width="30%">
    <% states = ['preplanned','planned','inprogress','submitted','accepted','published'] %>
    <%= select_tag :state, options_for_select(states), :multiple => true  %>
  </td>
</tr>
<tr>
  <td>
    <%= f.label :language_id_equals, "Language" %></td><td>
    <%= f.collection_select :language_id_equals, Language.all, :id, :name, :include_blank => true %>
  </td>
</tr>
<tr>  
  <td>
    <%= f.label :publication_type_id_equals, "Publication Type" %></td><td>
    <%= f.collection_select :publication_type_id_equals,  PublicationType.all, :id, :name, :include_blank => true %>
  </td>
</tr>
<tr>
  <td>
    <%= f.label :promotion_equals %></td><td>
    <%= f.select :promotion, { 'Yes'=>true, 'No'=>false }, :include_blank => :true %>
  </td>
</tr>
<tr>  
  <td>
    <%= f.label :user_id, "HSBC responsible author" %></td><td>
    <%= f.collection_select :user_id_equals,  User.all, :id, :full_name, :include_blank => true %>
  </td>
  <td>
    <%= f.label :responsible_id, "Responsible PI" %></td><td>
    <%= f.collection_select :responsible_id_equals,  User.all, :id, :full_name, :include_blank => true %>
  </td>   
</tr>
 <tr>
  <td>
    <%= f.label :created_at, "Created between" %></td><td>
    <%= f.text_field :created_at_gte, :size => 12 %> - <%= f.text_field :created_at_lte, :size => 12 %>
  </td>
  <td>
    <%= f.label :updated_at, "Updated between" %></td><td>
    <%= f.text_field :updated_at_gte, :size => 12 %> - <%= f.text_field :updated_at_lte, :size => 12 %>
  </td>
</tr>
<tr colspan="4">
  <td>
    <%= f.label "Title, description, keywords, outcomes, determinants, confounders, 
    survey data, populations, target journal, notes, reference, and authors" %></td>
    <td colspan="3">
    <%= f.text_area :title_like_any, :rows => "5", :cols => "100%"%>
  </td>
</tr>
 <tr>
  <td colspan="4" align=left>
    <%= f.submit "Search" %>
  </td>
</tr>
<% end %>
</table>

<table width="100%"><tr><td>Search had <%=h @pcount %> results</td><td align=right>Publications per page: <%= select_tag :per_page, options_for_select([5,10,20,50,100], params[:per_page].to_i) %></td></tr></table>

<p><%= will_paginate @publications %></p>

  <table class="pretty">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>State</th>
      <th>Language</th>
      <th>Publication Type</th>
      <th>Author</th>
    </tr>
<% for publication in @publications %>
    <tr>
      <td><%= link_to publication.id, publication %></td>
      <td><%=h publication.title %></td>
      <td><%=h publication.state.humanize %></td>
      <td><%=h publication.language.name %></td>
      <td><%=h publication.publication_type.name %></td>
      <td><%=h publication.user.full_name %></td>
    </tr>

<% end %>    
  </table>
<p><%= will_paginate @publications %></p>
<p>
  <%= link_to "Download search result as Excel spreadsheet", filter_publications_path(@publications, :search => params[:search], :format => "xls") if permitted_to? :filter, :publications %>
</p>

