<% title "Publications" %>

<% form_tag publications_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search], :size => 50 %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <p>Searching for numbers? Use '^' in front of the number.
  </p>
  <p><%= link_to "New Publication", new_publication_path if permitted_to? :new, :publications %></p>  
<% end %>
<div id="publications">
  Publications per page:
  <%= select_tag :per_page, options_for_select([5,10,20,50], params[:per_page].to_i),
               :onchange => "if(this.value){window.location='?per_page='+this.value;}" %>
  <%= will_paginate(@publications) %>
  <hr />
  <% for publication in @publications %>
    <h2>
      <%= link_to h(publication.title), publication if permitted_to? :show, :publications %> ( ID: <%=h publication.id %> )
    </h2>
  <i>- a <%=h publication.publication_type.name %> in <%=h publication.language.name %></i> ( <%=h publication.state %> )
  <p><%=h truncate(publication.description, :omission => "...", :length => 300) %>
  <%= link_to "Edit", edit_publication_path(publication) if permitted_to? :edit, :publications %> | <%= link_to "Destroy", publication, :confirm => 'Are you sure?', :method => :delete if permitted_to? :destroy, :publications %></p>
  <hr />
  <% end %>
  <%= will_paginate(@publications) %>
</div>

