<% title "Publications" %>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Language</th>
    <th>Publication Type</th>
  </tr>
  <% for publication in @publications %>
    <tr>
      <td><%=h publication.title %></td>
      <td><%=h publication.description %></td>
      <td><%=h publication.language_id %></td>
      <td><%=h publication.publication_type_id %></td>
      <td><%= link_to "Show", publication if permitted_to? :show, :publications %></td>
      <td><%= link_to "Edit", edit_publication_path(publication) if permitted_to? :edit, :publications %></td>
      <td><%= link_to "Destroy", publication, :confirm => 'Are you sure?', :method => :delete if permitted_to? :destroy, :publications %></td>
    </tr>
  <% end %>
</table>
  <p><%= link_to "New Publication", new_publication_path if permitted_to? :new, :publications %></p>

