<% title "Publications" %>

<% form_tag publications_path, :method => :get do %>

<table width=100%>
  <tr>
    <td><%= text_field_tag :search, params[:search], :size => 50 %>
    <%= submit_tag "Search", :name => nil %>  <%= link_to_function("Help","Element.toggle('help_explanation_box')") %></td>
    <td align=right>Publications per page: <%= select_tag :per_page, options_for_select([5,10,20,50,100], params[:per_page].to_i) %></td>
  </tr>
</table> 
<%= set_focus_to_id 'search' %>


<%= render :partial => "layouts/search_help" %>
<table width=100%>
  <tr>
    <td>Found <%=h @publications.total_entries %> publications matching your search criteria.</td>
    <td align="right">
    <%= link_to image_tag("/images/kfind.png", { :size => "48x48", :alt => "Advanced Search", :title => "Advanced Search"}), filter_publications_path if permitted_to? :filter, :publications %>
      <%= link_to image_tag("/images/filenew.png", { :size => "48x48", :alt => "New Publication", :title => "New Publication"}), new_publication_path if permitted_to? :new, :publications %>
      <%= link_to image_tag("/images/cal.png", { :size => "48x48", :alt => "Download search result as spreadsheet", :title => "Download search result as spreadsheet" }), publications_path(@publications, :search => params[:search], :format => "xls") if permitted_to? :index, :publications %></td>
  </tr>
</table>
  
<% end %>
<div id="publications">
  <%= will_paginate(@publications) %>
  <hr />
  <% for publication in @publications %>
    <h2>
      <%= link_to h(publication.title), publication if permitted_to? :show, :publications %> ( ID: <%=h publication.id %> ) 
    </h2>
  <i>- a <%=h publication.publication_type.name %> in <%=h publication.language.name %></i> ( <%=h publication.state %> )
  <p><%=h truncate(publication.description, :omission => "...", :length => 300) %>
  <%= link_to "Edit", edit_publication_path(publication) if permitted_to? :edit, :publications %> | <%= link_to "Destroy", publication, :confirm => 'Are you sure?', :method => :delete if permitted_to? :destroy, :publications %></p>
  <hr />
  <% end %>
  <%= will_paginate(@publications) %>
</div>
<p>
  <%= link_to image_tag("/images/cal.png", { :size => "48x48", :alt => "Download search result as Excel spreadsheet", :title => "Download search result as Excel spreadsheet" }), publications_path(@publications, :search => params[:search], :format => "xls") if permitted_to? :index, :publications %>
</p>
