<% title "Publications" %>

<table class="pretty">
  <tr>
    <th><%= sortable "id" %></th>
    <th><%= sortable "title" %></th>
    <th><%= sortable "state" %></th>
    <th colspan="5">Actions</th>
    <th>Reports</th>    
  </tr>
  <% for publication in @publications %>
    <tr>
      <td><%=h publication.id %></td>
      <td><%=h publication.title %></td>
      <td><%=h publication.state.humanize %></td>      
      <td><%= link_to "Show", publication %></td>
      <td><%= link_to "Edit", edit_publication_path(publication) %></td>
<% if publication.archived %>
      <td><%= link_to "Unarchive", unarchive_publication_path(publication), :method => :put %></td>
<% else %>      
      <td><%= link_to "Archive", archive_publication_path(publication), :method => :put if permitted_to? :archive, :publications %></td>
<% end %>
<td>
<% if publication.state == "preplanned_submitted" %>
  <%= link_to "Accept", preplanned_accept_publication_path(publication), :method => :put if permitted_to? :progress, :publications %>/
  <%= link_to "Reject", preplanned_reject_publication_path(publication), :method => :put if permitted_to? :progress, :publications %>

<% elsif publication.state == "preplanned" %>
  <%= link_to "Remind", preplanned_remind_publication_path(publication), :method => :put if permitted_to? :remind, :publications %>

<% elsif publication.state == "planned_submitted" %>
  <%= link_to "Accept", planned_accept_publication_path(publication), :method => :put if permitted_to? :progress, :publications %>/
  <%= link_to "Reject", planned_reject_publication_path(publication), :method => :put if permitted_to? :progress, :publications %>

<% elsif publication.state == "planned" %>
  <%= link_to "Remind", planned_remind_publication_path(publication), :method => :put if permitted_to? :remind, :publications %>  
  
<% elsif publication.state == "inprogress_submitted" %>
  <%= link_to "Accept", inprogress_accept_publication_path(publication), :method => :put if permitted_to? :progress, :publications %>/
  <%= link_to "Reject", inprogress_reject_publication_path(publication), :method => :put if permitted_to? :progress, :publications %>
  
<% elsif publication.state == "inprogress" %>
  <%= link_to "Remind", inprogress_remind_publication_path(publication), :method => :put if permitted_to? :remind, :publications %>
    
<% elsif publication.state == "submitted_submitted" %>
  <%= link_to "Accept", submitted_accept_publication_path(publication), :method => :put if permitted_to? :progress, :publications %>/
  <%= link_to "Reject", submitted_reject_publication_path(publication), :method => :put if permitted_to? :progress, :publications %>

<% elsif publication.state == "submitted" %>
  <%= link_to "Remind", submitted_remind_publication_path(publication), :method => :put if permitted_to? :remind, :publications %>
  
<% elsif publication.state == "accepted_submitted" %>
  <%= link_to "Accept", accepted_accept_publication_path(publication), :method => :put if permitted_to? :progress, :publications %>/
  <%= link_to "Reject", accepted_reject_publication_path(publication), :method => :put if permitted_to? :progress, :publications %>
<% elsif publication.state == "accepted" %>
  <%= link_to "Remind", accepted_remind_publication_path(publication), :method => :put if permitted_to? :remind, :publications %>
<% elsif publication.state == "locked" %>
  <%= link_to "Unlock", unlock_publication_path(publication), :method => :put if permitted_to? :progress, :publications  %>
<% end %>
</td>
      <td><%= link_to "Destroy", publication, :confirm => 'Are you sure?', :method => :delete %></td>
      <td><%= link_to "Audit", audit_publication_path(publication) %></td>      
  </tr>
  <% end %>
</table>
<p>
  <%= will_paginate @publications %>
</p>
