<% title "Publication" %>

<p>
  <strong>Title:</strong>
  <%=h @publication.title %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @publication.description %>
</p>
<p>
  <strong>Language:</strong>
  <%=h @publication.language.name %>
</p>
<p>
  <strong>Publication Type:</strong>
  <%=h @publication.publication_type.name %>
</p>

<p>
  <%= link_to "Edit", edit_publication_path(@publication) if permitted_to? :edit, :publications %> |
  <%= link_to "Destroy", @publication, :confirm => 'Are you sure?', :method => :delete if permitted_to? :destroy, :publications %> |
  <%= link_to "View All", publications_path %>
</p>
