<% title "Publication" %>

<p>
  <strong>Title:</strong>
  <%=h @publication.title %>
</p>
<div class="line_of_boxes">
  <div class="box_in_line">
    Keyword(s):
    <div class="box_in_line_content">
      <% @publication.keywords.each do |keyword| %>
        <div class="child">
            <%=h keyword.variable_name %><br />
        </div>
      <% end %>
      </div>
  </div>
   <div class="box_bottom"></div>
</div>
<p>
  <strong>Language:</strong>
  <%=h @publication.language.name %>
</p>
<p>
  <strong>Publication Type:</strong>
  <%=h @publication.publication_type.name %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @publication.description %>
</p>
<h3>Authors</h3>
<p>
  <strong>First author:</strong>
  <%=h @publication.user.full_name %>
</p>
<p>
  <strong>Additional author(s):</strong>
<% @publication.authorships.each do |authorship| %>
  <div class="child">
      <%=h authorship.user_name %><br />
  </div>
<% end %>
</p>
<h3>Data</h3>
<div class="line_of_boxes">
  <div class="box_in_line">
    Survey data:
    <div class="box_in_line_content">
      <% @publication.foundations.each do |foundation| %>
        <div class="child">
            <%=h foundation.survey_name %><br />
        </div>
      <% end %>
      </div>
  </div>
  <div class="box_in_line">
    Population(s):
    <div class="box_in_line_content">
      <% @publication.inclusions.each do |inclusion| %>
        <div class="child">
            <%=h inclusion.population_name %><br />
        </div>
      <% end %>
      </div>
  </div>
   <div class="box_bottom"></div>
</div>
<h3>Variables</h3>
 <div class="line_of_boxes">
  <div class="box_in_line">
    Outcome measure(s):
    <div class="box_in_line_content">
      <% @publication.outcomes.each do |outcome| %>
        <div class="child">
            <%=h outcome.variable_name %><br />
        </div>
      <% end %>
      </div>
  </div>

  <div class="box_in_line">
    Determinant(s):
    <div class="box_in_line_content">
      <% @publication.determinants.each do |determinant| %>
      <div class="child">
          <%=h determinant.variable_name %></br />
      </div>
      <% end %>
      </div>
  </div>
  <div class="box_in_line">
    Confounder(s)/mediator(s):
    <div class="box_in_line_content">
    <% @publication.mediators.each do |mediator| %>
      <div class="child">
        <%=h mediator.variable_name %><br />
      </div>
    <% end %>
    </div>
    </div>

   <div class="box_bottom"></div>
</div>

<p id="pdf_link">
  <%= link_to "PDF version", publication_path(@publication, :format => "pdf") %>
</p>

<p>
  <%= link_to "Edit", edit_publication_path(@publication) if permitted_to? :edit, :publications %> |
  <%= link_to "Destroy", @publication, :confirm => 'Are you sure?', :method => :delete if permitted_to? :destroy, :publications %> |
  <%= link_to "View All", publications_path %>
</p>
<p>
  <strong>Current State:</strong>
  <%=h @publication.state %>
</p>
<p>
<% if @publication.state == "preplanned" %>
  <%= link_to "Submit", submit_planned_publication_path(@publication), :method => :put if permitted_to? :submit, :publications %>
<% elsif @publication.state == "preplanned_submitted" %>
  <%= link_to "Accept as planned", preplanned_accept_publication_path(@publication), :method => :put if permitted_to? :progress, :publications %> | 
  <%= link_to "Reject as planned", preplanned_reject_publication_path(@publication), :method => :put if permitted_to? :progress, :publications %>
<% elsif @publication.state == "planned" %>
  <%= link_to "Submit", submit_inprogress_publication_path(@publication), :method => :put if permitted_to? :submit, :publications %>
<% elsif @publication.state == "planned_submitted" %>
  <%= link_to "Accept as in progress", planned_accept_publication_path(@publication), :method => :put if permitted_to? :progress, :publications %> | 
  <%= link_to "Reject as in progress", planned_reject_publication_path(@publication), :method => :put if permitted_to? :progress, :publications %>
<% elsif @publication.state == "inprogress" %>
  <%= link_to "Submit", submit_submitted_publication_path(@publication), :method => :put if permitted_to? :submit, :publications %>
<% elsif @publication.state == "inprogress_submitted" %>
  <%= link_to "Accept as submitted", inprogress_accept_publication_path(@publication), :method => :put if permitted_to? :progress, :publications %> | 
  <%= link_to "Reject as submitted", inprogress_reject_publication_path(@publication), :method => :put if permitted_to? :progress, :publications %>
<% elsif @publication.state == "submitted" %>
  <%= link_to "Submit", submit_accepted_publication_path(@publication), :method => :put if permitted_to? :submit, :publications %>
<% elsif @publication.state == "submitted_submitted" %>
  <%= link_to "Accept as accepted", submitted_accept_publication_path(@publication), :method => :put if permitted_to? :progress, :publications %> | 
  <%= link_to "Reject as accepted", submitted_reject_publication_path(@publication), :method => :put if permitted_to? :progress, :publications %>
<% elsif @publication.state == "accepted" %>
  <%= link_to "Submit", submit_accepted_publication_path(@publication), :method => :put if permitted_to? :submit, :publications %>
<% elsif @publication.state == "accepted_submitted" %>
  <%= link_to "Accept as published", accepted_accept_publication_path(@publication), :method => :put if permitted_to? :progress, :publications %> | 
  <%= link_to "Reject as published", accepted_reject_publication_path(@publication), :method => :put if permitted_to? :progress, :publications %>
<% end %>
</p>
