<% title "Reminders" %>

<% form_for @search do |f| %>
<p>
  <%= f.label :state_like, "State" %>
  <%= f.text_field :state_like %>
</p>
<p>
  <%= f.label :action_like, "Action" %>
  <%= f.text_field :action_like %>
</p>
<p>
  <%= f.submit "Search" %>
</p>
<% end %>
<p>
  Sort by: 
  <%= order @search, :by => :state %> |
  <%= order @search, :by => :action %>
</p>
<table class="pretty">
  <tr>
    <th><%= link_to "Publication", :sort => "publication_id" %></th>
    <th><%= link_to "State", :sort => "state" %></th>
    <th><%= link_to "Action", :sort => "action" %></th>
    <th><%= link_to "Last Email At", :sort => "last_email_at" %></th>
  </tr>
  <% for reminder in @reminders %>
    <tr>
      <td><%=h reminder.publication_id %></td>
      <td><%=h reminder.state %></td>
      <td><%=h reminder.action %></td>
      <td><%=h reminder.last_email_at %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Reminder", new_reminder_path %></p>
