<% title "Users" %>

<table>
  <tr>
    <th>Email</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Password</th>
  </tr>
  Users per page:
  <%= select_tag :per_page, options_for_select([15,30,60], params[:per_page].to_i),
               :onchange => "if(this.value){window.location='?per_page='+this.value;}" %>
  <%= will_paginate(@users) %>
  <% for user in @users %>
    <tr>
      <td><%=h user.email %></td>
      <td><%=h user.first_name %></td>
      <td><%=h user.last_name %></td>
      <td><%=h user.password %></td>
      <td><%= link_to "Show", user if permitted_to? :show, :users %></td>
      <td><%= link_to "Edit", edit_user_path(user) if permitted_to? :edit, :users %></td>
      <td><%= link_to "Destroy", user, :confirm => 'Are you sure?', :method => :delete if permitted_to? :destroy, :users %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New User", new_user_path if permitted_to? :new, :users %></p>
