<% form_for @contact do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :publication_id %><br />
    <%= f.text_field :publication_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p><%= f.submit %></p>
<% end %>
