<% title "Emails" %>

<table class="pretty"">
  <tr>
    <th>Trigger</th>
    <th>Subject</th>
    <th>Content</th>
    <th>Delay*</th>    
    <th colspan="3">Actions</th>    
  </tr>
  <% for email in @emails %>
    <tr>
      <td><%=h email.trigger.humanize %></td>
      <td><%=h email.subject %></td>
      <td><%=h email.content %></td>
      <td align="right"><%=h email.delay %></td>      
      <td><%= link_to "Show", email %></td>
      <td><%= link_to "Edit", edit_email_path(email) %></td>
      <td><%= link_to "Destroy", email, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
  <p class="explanation">* Delay must be greater than 0 for automatic reminders to be sent.</p>

<p><%= link_to "New Email", new_email_path %></p>
