<% title "Email" %>

<p>
  <strong>Trigger:</strong>
  <%=h @email.trigger %>
</p>
<p>
  <strong>Subject:</strong>
  <%=h @email.subject %>
</p>
<p>
  <strong>Content:</strong>
  <%=h @email.content %>
</p>

<p>
  <%= link_to "Edit", edit_email_path(@email) %> |
  <%= link_to "Destroy", @email, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", emails_path %>
</p>
