<% form_for @country_team do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <%= set_focus_to_id 'country_team_name' %>  
  <p><%= f.submit %></p>
<% end %>
